# colcon build outputs
build/
install/
log/

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qtcreator stuff
CMakeLists.txt.user
qtcreator-*
*.user

*.pcd
*.pyc

*~

# Emacs
.#*

# colcon per-package build opt-out
COLCON_IGNORE
